.menu {
  display: flex;
  gap: 3rem;
  max-width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  cursor: pointer;
  position: relative;
}

.link, .link:hover, .link:active, .link:visited,
.link a, .link a:hover, .link a:active, .link a:visited {
  text-decoration: none;
  color: white;
}

.itemEmoji {
  font-size: 100px;
}

.itemText {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: Bangers;
  letter-spacing: 1px;
  margin: 0;
  padding:0;
  transition: font-size ease 200ms;
}

.item:hover .itemText {
  font-size: 2rem;
}

@media (max-width: 450px) {
  .menu {
    gap: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .menu {
    max-width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 800px) {
  .iLoveIt {
    width: 50px;
  }

  .itemEmoji {
    font-size: 50px;
  }

  .itemFlag {
    width: 60px;
  }

  .item:hover .itemText {
    font-size: 1rem;
  }
}

@media (min-width: 1636px) {
  .itemEmoji {
    font-size: 150px;
  }

  .iLoveIt {
    width: 150px;
  }

  .itemFlag {
    width: 150px;
  }
}

@media (min-width: 1901px) {
  .itemEmoji {
    font-size: 200px;
  }

  .iLoveIt {
    width: 200px;
  }

  .itemFlag {
    width: 200px;
  }
}