.linguaTourDates {
  padding: 1rem;
}

.footer {
  text-align: center;
  font-weight: 700;
  padding: 1rem;
}

.item {
  cursor: pointer; 
  opacity: 0;
  text-transform: capitalize;
  animation-fill-mode: forwards;
}

.item:hover {
  transform: scale(110%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 2s;
}
