.logo {
  display: block;
  max-inline-size: 100%;
  align-self: center;
  margin: 0 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 2s;
}

.enterContainer {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  opacity: 0;
  animation-fill-mode: forwards;
}