.index {
  background: radial-gradient(#950101, #0f0f0f);
  color: white;
}

.header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-family: Bangers;
  letter-spacing: 1px;
}

.logo {
  height: 100px;
}

.flags {
  height: 150px;
}

.title {
  text-align: center;
  font-size: 3rem;
  padding: 0;
  margin: 0;
  letter-spacing: 3px;
}

.menu {
  display: flex;
  gap: 3rem;
  max-width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  cursor: pointer;
  position: relative;
}

.itemEmoji {
  font-size: 100px;
}

.itemText {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: Bangers;
  letter-spacing: 1px;
  margin: 0;
  padding:0;
  transition: font-size ease 200ms;
}

.item:hover .itemText {
  font-size: 2rem;
}

@media (max-width: 450px) {
  .menu {
    gap: 1.5rem;
  }
}

@media (max-width: 920px) {
  .title {
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .menu {
    max-width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 800px) {
  .logo {
    height: 50px;
  }
  
  .flags {
    height: 75px;
  }

  .title {
    font-size: 1.2rem;
  }

  .iLoveIt {
    width: 50px;
  }

  .itemEmoji {
    font-size: 50px;
  }

  .item:hover .itemText {
    font-size: 1rem;
  }
}