.text-bold {
  font-weight: bold;
}

body {
  background-image: url(/backgrounds/mountains-down.svg), url(/backgrounds/mountains-red.svg);
  background-repeat: repeat-x, repeat-x;
  background-size: contain, contain;
  background-position: top left, bottom left;
  height: 100%;
  min-height: 100vh;

  --swiper-theme-color: #000000;
  --swiper-pagination-color: #000000;
  --swiper-pagination-bullet-inactive-color: gray;
}

main {
  padding: 1rem;
}